<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div class="main">
        <div class="content">
          <div class="information">
            {% if email %}
            <h2>Thanks for your support!</h2>
            {% else %}
            <h2>Email missing, invalid or already processed :)</h2>
            {% endif %}      
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
